<div class="topbar">
    <div class="topbar-left">
      <button class="menu-toggle" (click)="toggleSidebar()">
        <i class="fa fa-bars"></i>
      </button>
      <div class="logo-container">
        <img src="../../../../updated-logo.svg" alt="" class="logo">
      </div>
    </div>
    
    <div class="topbar-center">
      <div class="search-container">
        <i class="fa fa-search search-icon"></i>
        <input type="text" placeholder="Search clients..." class="search-input">
      </div>
    </div>
    
    <div class="topbar-right">
      <div class="notification-icon">
        <i class="fa fa-bell"></i>
        <span class="badge">3</span>
      </div>
      <div class="message-icon">
        <i class="fa fa-envelope"></i>
        <span class="badge">5</span>
      </div>
      <div class="user-profile">
        <div class="avatar">
          <span>DR</span>
        </div>
        <div class="user-info">
          <span class="user-name">Dr. Smith</span>
          <i class="fa fa-angle-down"></i>
        </div>
      </div>
    </div>
  </div>
